.appname {
  text-align: center;
}

.todos {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-form {
  margin-top: 20px;
}

.todo.done {
  text-decoration: line-through;
}

.todo {
  transition: all 0.3s;
}

.todo .glyphicon-remove {
  cursor: pointer;
}

.todo.ng-leave {
  opacity: 1;
}

.todo.ng-leave-active {
  opacity: 0
}

.todo.ng-enter {
  opacity: 0;
}

.todo.ng-enter-active {
  opacity: 1;
}